/* specificaiton summary

- Mobile: 375px
- Desktop: 1440px
- Range from 320px to large screens (1920x1080, but what about retina?)
- Colors: see variables
- Font size: see variables, 16px which converts to 1 rem
- Fonts:
  - [Young Serif](https://fonts.google.com/specimen/Young+Serif)
    - Weights: 400
  - [Outfit](https://fonts.google.com/specimen/Outfit)
    - Weights: 400, 600, 700

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



*/

:root {
  --color-White: hsl(0, 0%, 100%);
  --color-stone100: hsl(30, 54%, 90%);
  --color-stone150: hsl(30, 18%, 87%);
  --color-stone600: hsl(30, 10%, 34%);
  --color-stone900: hsl(24, 5%, 18%);
  --color-brown800: hsl(14, 45%, 36%);
  --color-rose800: hsl(332, 51%, 32%);
  --color-rose50: hsl(330, 100%, 98%);

  --fontsize-paragraph: 1rem;
}



